@charset "ISO-8859-1";

body{
	background-color: #ffffff !important;
}
.container {
	margin-top: 80px;
	color: #004880 !important;
	font-weight: bold !important;
}

.border {
	/* border: 5px black !important;
	border-style: solid dashed !important; */
	border: 5px inset !important;
    border-top-color: #0078D4 !important;
    border-left-color: #0078D4 !important;
    border-right-color: #41A5EE !important;
    border-bottom-color: #41A5EE !important;
}

.head{
	    color: #004880 !important;
}

.formhead{
	    color: #41A5EE !important;
}

.btn-secondary {
    color: #fff;
    background-color: #41A5EE;
    border-color: #41A5EE;
}